.profile__container{
    
}

.profile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.profile__left {
    display: flex;
    align-items: center;
}

.header__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 30px 0 30px 225px;
}

.header__name {
    font-size: 22px;
    margin: 0 0 0 30px;
}

.header__link--edit{
    margin-right: 400px;
}

.profile__tabs {
    display: flex;
    gap: 40px;
    margin-left: 70px;
}

.profile__tab {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.profile__tab.active {
    font-weight: bold;
    color: red;
}

.profile__border-line {
    border-bottom: 1px solid;
    border-color: black;
    margin-bottom: 30px;
}

/* 商品一覧 */
.profile__item-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px 30px;
}

.item__card {
    max-width: 270px;
    margin: 0 auto;
}
