
.profile__container {
    max-width: 400px;
    margin: 0 auto;
}

.profile__title {
    font-size: 24px;
    text-align: center;
}

.header__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 0 30px 0;
}

.profile__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 20px auto;
}

.profile__label {
    font-size: 14px;
    font-weight: bold;
}