.container {
    padding: 0 560px;
}

.address__content {
    display: flex;
    flex-direction: column;
}

.address__label {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.address__btn {
    margin-top: 50px;
}