.container {
    display: flex;
    padding: 0 40px;
}


/* 左側 */
.purchase__left {
    flex: 7;
    margin: 50px 40px;
}

.purchase__box {
    display: flex;
    margin: 20px 0 50px 0;
}

.purchase__box--product-name {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.purchase__img {
    width: 200px;

}

.purchase__title {
    font-size: 25px;
    margin: 0 ;
}

.parchase__price {
    font-size: 20px;
}

.border-line {
    border-bottom: 1px solid;
    margin: 20px 0;
}

.purchase__label {
    font-size: 16px;
    margin: 0 20px;
}

.purchase__select--wrapper{
    position: relative; 
    display: inline-block;
}

.purchase__select--wrapper::after {
    content: "▼";
    font-size: 14px;
    color: gray;
    position: absolute;

    right: 10px;
    top: 55%;
    transform: translateY(-50%);

    pointer-events: none;
}

.purchase__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 30px 0 20px 60px;
    width: 200px;
    height: 25px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    color: gray;
}

.purchase__pay-box {
    display: flex;
    justify-content: space-between;
}

.purchase__link--update {
    text-decoration: none;
    font-size: 14px;
}

.purchase__address {
    margin: 20px 0 30px 60px;
}

/* 右側 */
.purchase__right {
    flex: 3;
    margin: 50px 60px 0 20px;
}

.purchase__box--price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.purchase__check {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin-bottom: 20px;
}

.purchase__label-check {
    font-size: 15px;
    text-align: center;
}

.border-line--check {
    margin: 0;
}