.container {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.item-detail__right {
    max-width: 340px;
}

.item-detail__image {
    width: 350px;
    height: 350px;
    margin: 60px 20px;
    object-fit: cover;
}

.item-detail__title {
    display: flex;
    gap: 20px;
}

.item-detail__name {
    margin: 5px 0 0;
}

.item-detail__sold {
    margin: 5px 0;
}

.sold {
    margin: 5px 0;
    font-size: 20px;
    color: rgb(193, 61, 61);
}

.item-detail__brand {
    font-size: 12px;
    margin: 0;
}

.item-detail__right {
    flex: 1;
    margin: 20px 20px;
}

.item-detail__actions {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 40px;
}

.item-detail__action {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.action__img {
    width: 20px;
}

.action__btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background: none;

    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;
    width: 20px;
}

.action__img--like {
    width: 20px;
}



.item-detail__price {
    font-size: 17px;
    margin: 5px 0;
}

.item-detail__price--big {
    font-size: 25px;
}

/* 商品説明 */
.item-detail__section-title{
    font-size: 18px;
    font-weight: bold;
}

.item-detail__category {
    display: flex;
    gap: 10px;
}

.item-detail__description-text {
    font-size: 13px;
    
}

.item-detail__label {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0 20px 0 0;
}

.category-tag {
    display: inline-block;
    padding: 2px 24px;
    border-radius: 15px;
    margin-right: 5px;
    background-color: rgb(188, 191, 193);
    font-size: 11px;
}

.small-text {
    font-size: 12px;
    color: grey;
}

.title-comment {
    color: rgb(90, 90, 90);
}

.item-comment__user {
    display: flex;
    align-items: center;
}

.item-comment__user--avatar {
    width: 50px;
    height: 50px;
    max-width: 80px;
    margin: 5px 15px 5px 0;
    border-radius: 50%;
    object-fit: cover;
}

.item-comment__user--name {
    margin: 0;
    font-size: 14px;
}

.item-comment__text {
    border-radius: 3px;
    margin: 0;
    background-color: rgb(205, 206, 207);
    padding: 5px 10px;
}

.comment-text {
    text-decoration: none;
    font-size: 12px;
    margin: 0;
}

.comment-date {
    font-size: 11px;
    margin: 0;
    align-items: end;
}

.item-detail__comment-input {
    width: 100%;
    max-width: ;
}