.item-detail__container {
    display: flex;
    gap: 40px;
}

.item-detail__image {
    width: 100%;
    max-width: 400px;
    margin: 60px 20px;
}

.item-detail__name {

}

.item-detail__brand {
    font-size: 15px;
}

.item-detail__right {
    flex: 1;
    margin: 20px 20px;
}

.item-detail__actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item-detail__price {
    font-size: 25px;
}

/* 商品説明 */
.item-detail__section-title{
    font-size: 20px;
    font-weight: ;
}

.category-tag {
    display: inline-block;
    padding: 1px 12px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: rgb(188, 191, 193);
    font-size: 10px;
}